body {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image:
}

/* Containers */
.container {
  padding: 3%;
}

.wrapper {
  display:block;
  padding: 0.5%;
}

/* Menu design */
.menu-icon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Header */

header, div {
  display:block;
}

.left {
    text-align: left;
    float: left;
    display:inline-block;
}

.right {
    text-align: right;
    float: right;
    display:inline-block;
}

/* General template for sections */
.overlay-section {
}

.section-title {
  display:block;
}

about-me, education, work, portfolio {
  display: none;
}

/* About me section */

/* Education section */

/* Work section */

/* Portfolio section */
