body {
    margin: 0;
    width: 100%;
    height: 100%;
    }

nav {
    text-align: right;
    width: inherit;
    background-color: #000000;
    position: fixed;
}

nav ul li {
    display: inline; 
}

nav ul li a {
    color: #FFFFFF;
}