.header{
  background-image: url("./../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.underline {
  display: inline-block;
  position: relative;
}
.underline:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 0px;
  height: 1.5vh;
  width: 0%;
  background-color: black;
  animation: underline 2s linear 2s forwards; /* remove infinite if you want only once */
}
@keyframes underline {
  to {
    width: 100%;
  }
}

.title{
  color: #000000;
  font-size: 14vh;
  font-weight: 550;
  text-transform: uppercase;
  text-decoration:none;
}

.subtitle {
  color: #000000;
  font-size: 4vh;
  text-decoration: none;
}

.blinking{
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
