@media screen and (min-width : 320px) {
  .card {
    width: 81.5vw;
    height: 50vh;
  }
}
@media screen and (min-width: 600px) {
  .card {
    width: 70vw;
    height: 45vh;
  }
}
@media screen and (min-width: 900px) {
  .card {
    width: 28vw;
    height: 45vh;
  }
}
.info-card {
  display:inline-block;
  padding: 10px;
}
.card {
  box-shadow: 10px 10px 5px grey;
}
.card-body-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
}
.card-body-content {
  width: 100%;
  height: 100%;
}
.card-cover-box {
  width: 75%;
  color: white;
  padding: 10px;

  border-style: solid;
  border-color: white;
  border-width: thin;
}
.card-text-title {
  font-size: 3vh;
  font-weight: 600;
  text-transform: uppercase;

  padding-top: 10px;
  padding-bottom: 10px;
}
.card-text-description {
  font-weight: 500;
  padding-bottom: 10px;
}
.card-text-date {
  font-weight: 500;
}
.card-content-box {
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 2vh;
  text-align: left;

  border-style: dotted;
  border-color: grey;
  border-width: thick;
  border-left-style: none;
  border-right-style: none;
}
.card-transition-enter {
  opacity: 0.01;
}
.card-transition-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}
.card-transition-exit {
  opacity: 1;
}
.card-transition-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-out;
}
