.section-title{
  width:100%;

  color: #000000;
  font-size: 8vh;
  font-weight: 450;
  text-align: left;
  text-transform: uppercase;
  text-decoration:none;
}
.section-body {
  height:80%;
  margin:auto;
  padding: 1em 0;
}
@media screen and (min-width: 600px) {
  .section-title{
    width: 80%;
  }
}
@media screen and (min-width: 900px) {
  .section-title{
    width: 40%;
  }
}

.underline-no-center {
  position: relative;
}

.underline-no-center:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 0px;
  height: 1vh;
  width: 0%;
  background-color: black;
  animation: underline-no-center 1s linear 0.5s forwards;
}
@keyframes underline-no-center {
  to {
    width: 100%;
  }
}
