.section-title{
  color: #000000;
  font-size: 8vh;
  font-weight: 450;
  text-align: left;
  text-transform: uppercase;
  text-decoration:none;
}
@media screen and (min-width : 320px) {
  .section-title{
    width:100%;
  }
}
@media screen and (min-width: 680px) {
  .section-title{
    width:40%;
  }
}

.underline-no-center {
  position: relative;
}

.underline-no-center:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 0px;
  height: 1vh;
  width: 0%;
  background-color: black;
  animation: underline-no-center 1s linear 1s forwards;
}
@keyframes underline-no-center {
  to {
    width: 100%;
  }
}
